@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&subset=cyrillic');
/* Please do not use this import in production. You could download this font from here https://fontstorage.com/font/bebasneue */
/*@import "http://fonts.fontstorage.com/import/bebasneue.css";*/
/*
	Bebas Neue, 100, 200, 300, 400, 700
*/
@font-face {
  font-family: 'Bebas Neue';
  src: local('Bebas Neue Bold'), local('BebasNeueBold'), url('../fonts/bebasneue/bebasneuebold.woff2') format('woff2'), url('../fonts/bebasneue/bebasneuebold.woff') format('woff'), url('../fonts/bebasneue/bebasneuebold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'social';
  src: url('../fonts/social.eot?s4u6nn');
  src: url('../fonts/social.eot?s4u6nn#iefix') format('embedded-opentype'), url('../fonts/social.ttf?s4u6nn') format('truetype'), url('../fonts/social.woff?s4u6nn') format('woff'), url('../fonts/social.svg?s4u6nn#social') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'social' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-NKfwNrGiPg:before {
  content: "\e900";
}
.icon-CPy9uyLcW1:before {
  content: "\e901";
}
.icon-search:before {
  content: "\e986";
}
/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}
/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}
/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}
/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}
/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}
/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}
/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}
/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}
/**
 * Add the correct display in IE.
 */
template {
  display: none;
}
/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
img {
  max-width: 100%;
  height: auto;
}
.wrapper {
  overflow: hidden;
  position: relative;
}
body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #75797f;
  background-color: #fff;
}
html {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #75797f;
}
a {
  color: #75797f;
}
a:hover {
  color: #3c4cf7;
}
.button {
  display: inline-block;
  padding: 5px 10px;
  color: #000;
  border: 1px solid #ccc;
  font-size: 14px;
  font-weight: normal;
  background: #fff;
  cursor: pointer;
  text-decoration: none;
}
.button:hover {
  text-decoration: none;
}
.form-group {
  margin-bottom: 15px;
}
.form-control {
  display: block;
  width: 100%;
  height: 40px;
  padding: 5px 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  color: #000;
}
.wrapper_filter {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  z-index: 100;
  display: none;
}
.closfon {
  background-color: rgba(119, 122, 129, 0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  z-index: 110;
  cursor: pointer;
  display: block;
}
.form_message {
  position: relative;
  width: 50%;
  background: #ffffff;
  z-index: 120;
  text-align: center;
  top: 5%;
  padding: 30px 37px 26px;
  margin: 0 auto;
  display: block;
}
.form_message form legend {
  font-size: 19px;
  text-transform: uppercase;
  color: #767a7f;
  font-weight: bold;
  border-bottom: none;
}
.form_message form button {
  border: none;
  background-color: #fa0147;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 12px 15px;
  border-radius: 5px;
}
.form_message .form-group {
  text-align: center;
}
.form_message .form-group input {
  border: none;
  background-color: #f6f6f6;
  width: 500px;
  height: 50px;
  padding: 0 20px;
  font-size: 14px;
  color: #646464;
  margin-bottom: 9px;
}
.form_message .form-group input::-webkit-input-placeholder {
  color: #646464;
}
.form_message .form-group input::-moz-placeholder {
  color: #646464;
}
.form_message .form-group input:-ms-input-placeholder {
  color: #646464;
}
.form_message .form-group input::placeholder {
  color: #646464;
}
.form_message .form-group input::-webkit-input-placeholder {
  color: #646464;
}
.form_message .form-group input::-moz-placeholder {
  color: #646464;
}
.form_message .form-group input::-ms-input-placeholder {
  color: #646464;
}
.form_message .form-group textarea {
  border: none;
  display: inline-block;
  background-color: #f6f6f6;
  width: 500px;
  height: 100px;
  padding: 20px 20px;
  font-size: 14px;
  color: #646464;
  margin-bottom: 9px;
}
.form_message .form-group textarea::-webkit-input-placeholder {
  color: #646464;
}
.form_message .form-group textarea::-moz-placeholder {
  color: #646464;
}
.form_message .form-group textarea:-ms-input-placeholder {
  color: #646464;
}
.form_message .form-group textarea::placeholder {
  color: #646464;
}
.form_message .form-group textarea::-webkit-input-placeholder {
  color: #646464;
}
.form_message .form-group textarea::-moz-placeholder {
  color: #646464;
}
.form_message .form-group textarea::-ms-input-placeholder {
  color: #646464;
}
.form_message .form-group span {
  display: block;
}
.dropdown-menu {
  left: 13px;
  background-color: transparent;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.dropdown-menu li {
  background-color: #fff;
  margin-bottom: 4px;
  height: 65px;
  border: 1px solid #bcbec1;
  border-radius: 5px;
}
.dropdown-menu li a {
  text-transform: uppercase;
  font-weight: bold;
  color: #767a7f;
  padding-left: 55px;
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.dropdown-menu li a:after {
  content: "";
  width: 12px;
  height: 13px;
  background: url(../images/css_sprites2.png) -41px -10px no-repeat;
  top: 25px;
  left: 25px;
  position: absolute;
  display: inline-block;
  z-index: 3;
}
.dropdown-menu li a:hover {
  background-color: #3c4cf7;
  color: #fff;
  text-decoration: none;
}
.dropdown-menu li a:hover:after {
  background: url(../images/css_sprites2.png) -73px -10px no-repeat;
}
.main_catalog_menu_header {
  padding-left: 5px;
  padding-top: 25px;
  line-height: 1em;
  padding-bottom: 25px;
}
.main_catalog_menu_header > span {
  color: #777b81;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  padding-left: 20px;
}
.menu_navbar_toogle {
  display: inline-block;
  text-decoration: none;
  vertical-align: bottom;
  padding-top: 3px;
}
.menu_navbar_toogle .ico_bar {
  display: block;
  width: 20px;
  height: 3px;
  margin-bottom: 3px;
  background-color: #777b81;
}
.main_catalog_menu_list {
  left: 13px;
  background-color: transparent;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  list-style: none;
  margin: 0;
  padding: 0;
}
.main_catalog_menu_list li {
  background-color: #fff;
  margin-bottom: 4px;
  height: 65px;
  border: 1px solid #bcbec1;
  border-radius: 5px;
}
.main_catalog_menu_list li a {
  text-transform: uppercase;
  font-weight: bold;
  color: #767a7f;
  padding-left: 55px;
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.main_catalog_menu_list li a:after {
  content: "";
  width: 12px;
  height: 13px;
  background: url(../images/css_sprites2.png) -41px -10px no-repeat;
  top: 25px;
  left: 25px;
  position: absolute;
  display: inline-block;
  z-index: 3;
}
.main_catalog_menu_list li a:hover {
  background-color: #3c4cf7;
  color: #fff;
  text-decoration: none;
}
.main_catalog_menu_list li a:hover:after {
  background: url(../images/css_sprites2.png) -73px -10px no-repeat;
}
.breadcrumbs {
  background-color: #f6f6f6;
}
.breadcrumb {
  margin: 0;
  padding: 10px 0 10px 0;
  background: url(../images/border.png) bottom center repeat-x;
}
.breadcrumb > li + li::before {
  color: #777b81;
  content: "\203A";
  font-size: 20px;
  padding: 0 15px;
}
.breadcrumb > li a {
  text-decoration: underline;
}
.card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.card-image img {
  display: block;
  width: 100%;
}
.main_slider {
  position: relative;
  z-index: 2;
}
.slider_decor_left {
  height: 77px;
  background-color: #3c4cf7;
  width: 40%;
  display: inline-block;
  position: absolute;
  top: 148px;
  left: 0;
}
.slider_decor_right {
  height: 77px;
  background-color: #75797f;
  width: 40%;
  display: inline-block;
  position: absolute;
  bottom: 58px;
  right: 0;
}
.slider_left_text_decor {
  height: 120px;
  background-color: #3c4cf7;
  width: 77px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 212px;
}
.main_slider_block {
  background-color: #e2e2e3;
  height: 436px;
}
.slider_search {
  text-align: center;
  position: absolute;
  top: 50px;
  z-index: 3;
  width: 100%;
}
.slider_search form {
  width: 73%;
  background-color: #fff;
  display: inline-block;
  padding: 10px;
  text-align: left;
}
.slider_search form input[type="text"] {
  height: 45px;
  width: 83%;
  background-color: #f6f6f6;
  border: none;
  color: #000;
  display: inline-block;
}
.slider_search form input[type="text"]::-webkit-input-placeholder {
  color: #000;
}
.slider_search form input[type="text"]::-moz-placeholder {
  color: #000;
}
.slider_search form input[type="text"]:-ms-input-placeholder {
  color: #000;
}
.slider_search form input[type="text"]::placeholder {
  color: #000;
}
.slider_search form input[type="text"]::-webkit-input-placeholder {
  color: #000;
}
.slider_search form input[type="text"]::-moz-placeholder {
  color: #000;
}
.slider_search form input[type="text"]::-ms-input-placeholder {
  color: #000;
}
.slider_search_btn {
  display: inline-block;
  padding-left: 20px;
}
.slider_search_btn i {
  font-size: 22px;
  position: relative;
  bottom: -5px;
  color: #000;
}
.slider_search_btn button {
  display: inline-block;
  background-color: #fff;
  border: none;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  height: 45px;
  padding: 0 20px 0 10px;
  font-family: "Roboto";
}
.slides_main {
  position: relative;
  padding: 0;
}
.slides_main > button {
  width: 65px;
  height: 70px;
  background-color: #3c4cf7;
  position: absolute;
  z-index: 5;
  right: 0;
  bottom: 135px;
  border: none;
  text-indent: -9999px;
  background: #3c4cf7 url('../images/arrow.png') 30px 26px no-repeat;
}
.slides_main .slick-prev {
  right: 65px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.slick-dots {
  position: absolute;
  list-style: none;
  padding: 0 15px 0 45px;
  z-index: 5;
  background-color: #777b81;
  right: 130px;
  bottom: 135px;
}
.slick-dots li {
  display: inline-block;
}
.slick-dots li button {
  border: none;
  height: 70px;
  width: 50px;
  text-indent: -9999px;
  background: #777b81 url('../images/dot.png') 20px 32px no-repeat;
}
li.slick-active button {
  background: #777b81 url('../images/dot_current.png') 4px 15px no-repeat;
}
.main_slide_item {
  font-size: 0;
  overflow: hidden;
}
.main_slide_item > div {
  width: 50%;
  display: inline-block;
  font-size: 15px;
  vertical-align: top;
}
.slide_desk {
  padding-top: 150px;
}
.slide_desk_block {
  display: inline-block;
  position: relative;
  z-index: 2;
  right: -140px;
}
.slide_desk_block h5 {
  margin: 0;
  font-family: "Bebas Neue";
  font-weight: bold;
  font-size: 94px;
  color: #61656c;
  line-height: 1em;
  display: inline-block;
}
.slide_desk_block h5 em {
  font-style: normal;
  color: #fff;
  font-size: 96px;
  letter-spacing: 6px;
}
.slide_img_holder {
  background-color: #f6f6f6;
  height: 436px;
}
.slide_img_holder img {
  margin-left: -80px;
}
.desk_block_text {
  overflow: hidden;
}
.desk_block_text p {
  font-family: Myriad Pro;
  font-size: 17px;
  font-style: italic;
  color: #151c26;
  margin: 0;
  display: inline-block;
}
.desk_block_text p em {
  color: #4553e5;
}
.desk_block_right {
  display: inline-block;
  background-color: #3c4cf7;
  color: #fff;
  letter-spacing: 3px;
  padding: 0 10px;
  vertical-align: bottom;
  float: right;
  margin-top: 25px;
}
.main_slider_right_text {
  position: absolute;
  background-color: #f6f6f6;
  width: 200px;
  line-height: 1.3em;
  z-index: 4;
  color: #151c26;
  top: 130px;
  right: -15px;
  padding-left: 20px;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.main_slider_right_text p {
  margin: 0;
}
.main_slider_left_text {
  color: #fff;
  height: 95px;
  width: 436px;
  position: absolute;
  top: 172px;
  left: -156px;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  z-index: 5;
  background: url(../images/logo_slider_bg.png) 0 0 no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.main_slider_left_text span {
  display: inline-block;
  font-size: 13px;
  letter-spacing: 3px;
  position: relative;
  z-index: 6;
}
.product_gallery {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.product_gallery .flex-viewport {
  width: 520px;
  height: 500px;
  display: inline-block;
  background-color: #fff;
  margin-right: 15px;
  display: table-cell;
  vertical-align: center;
}
.product_gallery .flex-control-nav {
  list-style: none;
  padding: 0;
  display: inline-block;
}
.product_gallery .flex-control-nav li {
  width: 117px;
  height: 117px;
  background-color: #fff;
  margin-bottom: 11px;
}
.product_gallery .flex-control-nav li:last-child {
  margin: 0;
}
.product_gallery .flex-control-nav li img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
.product_gallery_slide_wrapper {
  width: 520px;
  height: 500px;
  margin-left: -40px;
}
.product_gallery_slide_wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
.wrapper_bg {
  background: #fff url(../images/bg_main.jpg) top center no-repeat;
}
.header {
  padding-top: 40px;
  padding-bottom: 35px;
}
.drop_menu .dropdown-toggle {
  width: 170px;
  height: 45px;
  background-color: #3c4cf7;
  display: inline-block;
  border-radius: 5px;
  position: relative;
  text-decoration: none;
}
.drop_menu .dropdown-toggle > span {
  color: #fff;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  padding: 10px 0 0 35px;
}
.navbar_toogle {
  display: inline-block;
  text-decoration: none;
  position: absolute;
  left: 18px;
  top: 15px;
}
.ico_bar {
  display: block;
  width: 18px;
  height: 2px;
  margin-bottom: 3px;
  background-color: white;
}
.cart-ico-wrap {
  padding-top: 10px;
}
.cart-ico-wrap i {
  font-size: 25px;
  color: #333;
}
.cart-ico-wrap span {
  display: inline-block;
}
.count-prod {
  color: #000;
  font-size: 20px;
  font-weight: bold;
  padding: 0 6px 0 10px;
}
.logo_top {
  display: block;
  text-align: center;
}
.top_subscribe {
  background-color: #fa0147;
  width: 190px;
  height: 45px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  padding: 12px 0 0 40px;
}
.top_subscribe i {
  font-style: normal;
  font-size: 25px;
  display: inline-block;
  position: absolute;
  bottom: -7px;
  left: -20px;
}
.top_subscribe span {
  position: relative;
  display: inline-block;
  padding-left: 5px;
}
.top_contacts_phone_block {
  font-size: 21px;
  color: #000;
  display: inline-block;
  padding-left: 10px;
}
.top_contacts_phone {
  display: block;
  margin-bottom: 5px;
}
.top_contacts_phone i {
  color: #333333;
  font-size: 20px;
}
.top_contacts_email {
  display: block;
  padding-left: 35px;
}
.top_contacts_email i {
  font-style: normal;
}
.top_contacts_email span {
  display: inline-block;
  color: #333333;
}
.main_text {
  background-color: #f6f6f6;
  padding-left: 25px;
  padding-top: 65px;
}
.main_text h1 {
  font-size: 25px;
  margin: 0;
  margin-bottom: 40px;
  font-weight: bold;
}
.main_text h2 {
  font-size: 25px;
  margin: 0;
  margin-bottom: 40px;
  font-weight: bold;
}
.main_text p {
  margin: 0 0 30px;
}
.main_text h5 {
  font-size: 19px;
  margin: 0;
  margin-bottom: 30px;
  font-weight: bold;
}
.main_text_hl {
  color: #000;
}
.main_text_list {
  padding-left: 20px;
  margin-bottom: 25px;
  list-style-type: square;
  color: #3c4cf7;
}
.main_text_list li span {
  color: #75797f;
}
.main_delivery {
  background: url(../images/delivery.png) top center no-repeat;
  background-size: cover;
  color: #fff;
  padding-top: 120px;
  padding-bottom: 135px;
}
.main_delivery h4 {
  margin: 0 0 120px;
  font-size: 46px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Bebas Neue";
  font-weight: bold;
}
.main_delivery_block {
  text-align: center;
}
.main_delivery_block span {
  font-size: 34px;
  display: block;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.1em;
  font-family: "Bebas Neue";
  font-weight: bold;
}
.delivery_img_wrapp {
  height: 65px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 35px;
}
.main_payment {
  padding-bottom: 25px;
  padding-top: 65px;
}
.main_payment h4 {
  margin: 0 0 70px;
  font-size: 46px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Bebas Neue";
  font-weight: bold;
}
.main_payment_block {
  text-align: center;
}
.main_payment_block span {
  display: block;
  font-size: 18px;
  line-height: 1.2em;
  height: 63px;
  overflow: hidden;
}
.main_payment_block_img {
  display: inline-block;
  margin-bottom: 13px;
  width: 75px;
  height: 75px;
  border-radius: 37px;
  background-color: #cacbcd;
  text-indent: -10000px;
  background: #cacbcd url('../images/css_sprites.png') -20px -20px;
}
.block_img_cart {
  background: #cacbcd url('../images/css_sprites.png') -365px -13px;
}
.block_img_emoney {
  background: #cacbcd url('../images/css_sprites.png') -247px -23px;
}
.block_img_check_b {
  background: #cacbcd url('../images/css_sprites.png') -132px -17px;
}
.main_footer_category {
  background-color: #f6f6f6;
  padding-top: 40px;
  padding-bottom: 35px;
}
.main_footer_category_list {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0;
}
.main_footer_category_list li {
  display: inline-block;
  width: 25%;
  padding-left: 20px;
  margin-bottom: 15px;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 15px;
}
.main_footer_category_list li:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 5px;
  height: 5px;
  background-color: #3c4cf7;
}
.main_menu_list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
  background-color: #fff;
}
.main_menu_list li:nth-child(4n+1):nth-last-child(-n+4),
.main_menu_list li:nth-child(4n+1):nth-last-child(-n+4) ~ li {
  border-bottom: none;
}
.main_menu_list_item {
  display: block;
  width: 25%;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  border-left: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  height: 250px;
  float: left;
}
.list_item_link {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.list_item_link:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(252, 93, 137, 0.7);
  z-index: 2;
  display: none;
}
.list_item_link:hover {
  text-decoration: none;
}
.list_item_link:hover:after {
  display: block;
}
.list_item_link:hover > .list_item_text {
  color: #fff;
  text-decoration: none;
  z-index: 3;
}
.list_item_main_link {
  display: block;
  height: 100%;
  position: relative;
  background: url(../images/bg_link.png) 0 0 no-repeat;
  background-size: cover;
  color: #fff;
  font-weight: bold;
  text-align: left;
  line-height: 1.6em;
  padding-top: 110px;
  padding-left: 65px;
  padding-right: 10px;
}
.list_item_main_link:hover {
  color: #fff;
}
.list_item_img_wrap {
  display: inline-block;
  height: 163px;
  margin: 15px 0;
}
.list_item_text_main_link {
  display: inline-block;
}
.list_item_text {
  display: inline-block;
  font-weight: bold;
  color: #000;
  height: 42px;
  margin-bottom: 14px;
  position: relative;
}
.list_item_text:after {
  content: "";
  width: 11px;
  height: 17px;
  background: url('../images/css_sprites2.png') -10px -10px no-repeat;
  top: 0;
  right: -25px;
  position: absolute;
  display: inline-block;
  z-index: 3;
}
.footer {
  padding: 40px 0;
}
.main_catalog {
  background-color: #f6f6f6;
}
.main_catalog_block_control {
  text-align: right;
  padding-top: 15px;
}
.button_main_catalog_block {
  padding: 10px 15px;
  display: inline-block;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #3c4cf7;
  cursor: pointer;
  margin-bottom: 14px;
}
.main_catalog_block_search {
  text-align: center;
  position: absolute;
  top: 50px;
  z-index: 3;
  width: 100%;
  position: static;
  margin-bottom: 12px;
}
.main_catalog_block_search form {
  width: 73%;
  background-color: #fff;
  display: inline-block;
  padding: 10px;
  text-align: left;
}
.main_catalog_block_search form input[type="text"] {
  height: 45px;
  width: 83%;
  background-color: #f6f6f6;
  border: none;
  color: #000;
  display: inline-block;
}
.main_catalog_block_search form input[type="text"]::-webkit-input-placeholder {
  color: #000;
}
.main_catalog_block_search form input[type="text"]::-moz-placeholder {
  color: #000;
}
.main_catalog_block_search form input[type="text"]:-ms-input-placeholder {
  color: #000;
}
.main_catalog_block_search form input[type="text"]::placeholder {
  color: #000;
}
.main_catalog_block_search form input[type="text"]::-webkit-input-placeholder {
  color: #000;
}
.main_catalog_block_search form input[type="text"]::-moz-placeholder {
  color: #000;
}
.main_catalog_block_search form input[type="text"]::-ms-input-placeholder {
  color: #000;
}
.main_catalog_block_search form {
  width: 100%;
}
.main_catalog_block_search form input[type="text"] {
  width: 81%;
}
.main_catalog_block_info {
  text-align: center;
  border: 1px solid #dfdfdf;
  padding: 15px 0;
  margin-bottom: 12px;
}
.main_catalog_block_info span {
  color: #000;
  display: inline-block;
  margin: 0 30px;
}
.main_table_header {
  margin-bottom: 11px;
}
.main_table_header table {
  width: 100%;
  background-color: #767a7f;
  color: #fff;
  font-size: 14px;
}
.main_table_header table tr {
  height: 48px;
  padding: 0 15px;
}
.main_table_header table tr th {
  text-align: center;
  font-weight: normal;
}
.main_table_name {
  width: 38%;
  padding-left: 15px;
}
.main_table_price {
  width: 16%;
}
.main_table_optprice {
  width: 16%;
}
.main_table_quantity {
  width: 14%;
}
.main_table_sum {
  width: 16%;
  padding-right: 15px;
}
.main_table_block_header {
  height: 90px;
  background-color: #fff;
  padding: 4px 0 4px 15px;
  margin-bottom: 11px;
}
.main_table_block_header h4 {
  display: inline-block;
  font-size: 20px;
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
  padding-left: 15px;
}
.main_table_block_header_img_wrapp {
  display: inline-block;
  width: 82px;
  height: 82px;
}
.main_table_block_header_img_wrapp img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
.main_table_block table {
  width: 100%;
  padding-left: 15px;
  text-align: center;
  margin-bottom: 34px;
}
.main_table_block table tr {
  height: 61px;
  background-color: #fff;
  margin-bottom: 7px;
}
.main_table_block table .separeted {
  height: 7px;
  background-color: transparent;
}
.main_table_block table .active {
  background-color: #f6f6f6;
  border: 1px solid #dfdfdf;
}
.main_table_block table td {
  font-size: 14px;
}
.main_table_block table td strong {
  color: #000;
  font-size: 17px;
}
.main_table_block table .main_table_name {
  text-align: left;
}
.main_table_block table .main_table_name a {
  color: #025cc0;
  text-decoration: underline;
}
.main_table_block table .main_table_name a:hover {
  text-decoration: none;
}
.main_table_block table .main_table_sum {
  text-align: right;
}
div.main_table_block:last-child > table {
  margin: 0;
}
.single-item-count {
  position: relative;
}
.single-item-count .field {
  width: 40px;
  background-color: transparent;
  border: none;
  text-align: center;
  color: #000;
  font-size: 17px;
  font-weight: bold;
}
.single-item-count input[type="button"] {
  background-color: transparent;
  width: 23px;
  height: 23px;
  border: 1px solid #e2e2e2;
  font-size: 20px;
  padding: 0;
  position: absolute;
  top: 0;
}
.single-item-count input[type="button"]:hover {
  background-color: #767a7f;
  color: #fff;
}
.single-item-count input.plus {
  right: 10px;
}
.single-item-count input.minus {
  left: 10px;
}
.main_category {
  background-color: #f6f6f6;
}
.main_category h1 {
  text-transform: uppercase;
  font-size: 20px;
  color: #000;
  font-weight: bold;
  margin: 0;
  padding: 35px 0;
}
.main_product_header {
  background-color: #f6f6f6;
}
.main_product_header h1 {
  text-transform: uppercase;
  font-size: 20px;
  color: #000;
  font-weight: bold;
  margin: 0;
  padding: 35px 0;
}
.main_product {
  background-color: #f6f6f6;
  padding-bottom: 40px;
}
.main_category_block {
  font-size: 0;
}
.main_category_block_item {
  font-size: 15px;
  background-color: #fff;
  width: 19.2%;
  display: inline-block;
  text-align: center;
  padding: 7px 15px 20px;
  margin: 0 11px 10px 0;
}
.main_category_block_item:nth-last-child(5n+1) {
  margin-right: 0;
}
.main_category_block_item .item_head {
  font-size: 14px;
  margin: 0 0 15px;
}
.main_category_block_item .item_head a {
  color: #2472c8;
}
.item_pic_holder {
  display: inline-block;
  width: 160px;
  height: 160px;
  margin-bottom: 9px;
}
.item_pic_holder img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
.item-price_block .item-price {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 15px;
}
.item-price_block .item-price span {
  display: inline-block;
  width: 45%;
}
.item-price_block .item-price span strong {
  font-size: 17px;
  font-weight: bold;
  color: #000;
}
.item-price_block .item-price p {
  width: 50%;
  display: inline-block;
  line-height: 1.2em;
  margin: 0;
  text-align: left;
}
.item_control_block {
  background-color: #767a7f;
  height: 40px;
  border-radius: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 0 10px;
  margin-bottom: 9px;
}
.item_control_block .single-item-count {
  width: 85px;
  color: #fff;
  display: inline-block;
}
.item_control_block .single-item-count .field {
  width: 40px;
  color: #fff;
}
.item_control_block .single-item-count input[type="button"] {
  border: 1px solid #a2a5a8;
  font-size: 20px;
  padding: 0;
  position: absolute;
  top: 0;
}
.item_control_block .single-item-count input[type="button"]:hover {
  background-color: #767a7f;
  color: #fff;
}
.item_control_block .single-item-count input.plus {
  right: 2px;
}
.item_control_block .single-item-count input.minus {
  left: 2px;
}
.item_control_block .item-buy {
  width: 45%;
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 14px;
  font-weight: bold;
}
.single-item-oneclick {
  width: 100%;
  background-color: #fff;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid #3c4cf7;
  color: #3c4cf7;
  height: 35px;
}
.product_description {
  background-color: #fff;
  padding: 20px 20px 30px;
}
.product_description_top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 20px;
}
.product_description_infoblock {
  padding: 22px 25px 10px 25px;
  display: inline-block;
  border-radius: 5px;
  background-color: #f6f6f6;
}
.product_description_infoblock span {
  display: block;
  font-size: 26px;
  color: #767a7f;
  line-height: 1em;
  margin-bottom: 5px;
}
.product_description_infoblock span strong {
  font-size: 31px;
  color: #000;
}
.product_description_infoblock p {
  color: #5f5f5f;
  margin-bottom: 0;
  font-size: 13px;
}
.product_description_infoblock.secondary {
  background-color: #fff;
  border: 1px solid #e3e3e3;
}
.product_description_infoblock.secondary span {
  color: #cbccce;
}
.product_description_infoblock.secondary span strong {
  color: #9e9e9e;
}
.product_description_list {
  padding-bottom: 30px;
}
.product_description_list dl {
  margin: 0;
  padding: 8px 5px 8px 40px;
  position: relative;
}
.product_description_list dl:before {
  color: #777b81;
  content: "\203A";
  font-size: 25px;
  position: absolute;
  left: 15px;
  top: 0;
}
.product_description_list dl dt {
  display: inline-block;
  width: 74%;
  color: #767a7f;
  font-weight: normal;
}
.product_description_list dl dd {
  display: inline-block;
  width: 24%;
  color: #373b3f;
  font-weight: bold;
  font-size: 15px;
}
.product_description_list dl:nth-last-child(2n+1) {
  background-color: #f8f8f8;
}
.product_description_control {
  text-align: center;
}
.product_description_control_block {
  color: #fff;
  display: inline-block;
  height: 49px;
  background-color: #303fe0;
  border-radius: 5px;
}
.product_description_control_block .single-item-count {
  width: 120px;
  display: inline-block;
}
.product_description_control_block .single-item-count .field {
  color: #fff;
}
.product_description_control_block .item-buy {
  display: inline-block;
  width: 160px;
  background-color: #3c4cf7;
  border: none;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  height: 100%;
  border-radius: 0 5px 5px 0;
}
.main_product_note {
  background-color: #f6f6f6;
}
.main_product_note_block {
  margin-bottom: 60px;
}
.main_product_note_block h5 {
  font-size: 16px;
  font-weight: bold;
  color: #000;
}
.main_product_note_block p {
  text-align: justify;
}
